/.pytest_cache/
/app/__init__.pyc
/app/delete_product.pyc
/app/add_product.pyc
/app/create_order.pyc
/app/get_oneproduct.pyc
/app/get_products.pyc
/tests/__pycache__/
/tests/__init__.pyc
/venv/
/app/get_sale_orders.pyc
/app/__pycache__/
app/modify_product.pyc